{% extends "layouts/default.html" %}
{% load staticfiles %}

{% block title %}Admin Tools{% endblock %}
{% block title_header %}IP Check{% endblock %}

{% block content %}


    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-body">
                            <form class="form-inline" method="get" action="/">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="ip" value="{{ ip }}"/>
                                </div>
                                <button type="submit" class="btn btn-primary">Check</button>
                            </form>
                            <br>
                            <table class="table table-bordered">
                                <tr>
                                    <th colspan="2">
                                        Details
                                    </th>
                                </tr>
                                <tr>
                                    <th>Country:</th>
                                    <td>{{ addr.country }}</td>
                                </tr>
                                <tr>
                                    <th>ISP:</th>
                                    <td>{{ addr.isp }}</td>
                                </tr>
                                <tr>
                                    <th>Hostname:</th>
                                    <td>{{ addr.hostname }}</td>
                                </tr>
                                <tr>
                                    <th>Local IP:</th>
                                    <td class="local-ip">...</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h4 class="mbs">
                                Browser
                            </h4>
                            <br>
                            <table class="table table-bordered">
                                <tr>
                                    <th colspan="2">
                                        Details
                                    </th>
                                </tr>
                                <tr>
                                    <th>Browser:</th>
                                    <td>{{ user_agent.browser.family }} {{ user_agent.browser.version_string }}</td>
                                </tr>
                                <tr>
                                    <th>OS:</th>
                                    <td>{{ user_agent.os.family }} {{ user_agent.os.version_string }}</td>
                                </tr>
                                <tr>
                                    <th>Device:</th>
                                    <td>{{ user_agent.device.family }}</td>
                                </tr>
                                <tr>
                                    <th>Language:</th>
                                    <td>{{ language }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}