{% extends "layouts/default.html" %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block content %}


    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-8">
                    <div class="panel">
                        <div class="panel-body">
                            <h4 class="mbs">
                                My IP:
                            </h4>
                            <p class="help-block">
                                Your IP details
                            </p>
                            asd
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-body">
                            <h4 class="mbs">
                                My IP:
                            </h4>
                            <p class="help-block">
                                Your IP details
                            </p>
                            asd
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}